* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 10px;
    background-color: #35424a;
    width: 100vw;
    border-bottom: 3px solid #a9508b;
    
    
}

.header-left {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 20px 0px 20px 150px;
    
    
    
}

.header-left > span {
    color: #a9508b;
    
}

.header-right {
    margin: 0px 100px 5px 20px;
    padding-top: 20px;
}
.header-right > a {
    
    margin-right: 30px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 17px;
    font-weight: lighter;
}

#about {
    color: #a9508b;
}
#home:hover {
    font-weight: bolder;
}
#about:hover {
    color: white;
}
#services:hover {
    font-weight: bolder;

}


.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #35424a;
    color: white;
    padding: 30px 100px;
    
}

.register-left {
    display: block;
    margin: 20px 10px 20px 60px ;
    padding-bottom: 20px;
    width: 400px;
    font-size: 20px;
    
    
}

.register-right {
    display: flex;
    flex-wrap: wrap;
    
}

#email {
    height: 35px;
    width: 250px;
    margin-right: 3px;
    padding-left: 15px;

}

#subscribe {
    height: 35px;
    width: 90px;
    background-color: #a9508b;
    border: 0px solid violet;
    color: white;
    

}



.about-us {
    display: flex;
    margin: 2% 10% 16%;
    height: 100%;
    justify-content: space-between;
    

}
.explain {
    width: 90%;
    flex-grow: 4;
    margin-right: 70px;
}

.do-what {
    width: 35%;
    flex-grow: 1;
    background-color:#35424a ;
    padding: 20px 20px 45px 25px;
    color: white;
    margin-top: 15px;
    line-height: 20px;
    height: fit-content;
}

h4 {
    padding: 20px 0px 20px 0px;
}

.first {
    padding: 20px 0px 15px 0px;
    
}

.second {
    
    background-color:#35424a ;
    padding: 20px;
    color: white;
    margin-top: 15px;
    line-height: 20px;
    
}

.third {
    
    line-height: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #fffaf0;
    align-items: center;
}

#copyright {
    margin-top:30px;
    width: 400px;
}

#cw-logo {
    width: 200px;
    height: 40px;
    margin-right: 100px;
}

@media (max-width:1000px) {
    .header-left {
        display: block;
        font-size: 30px;
        color: white;
        font-weight: bold;
        margin: 10px 90px 20px 60px;        
    }
    
    .header-left > span {
        color: #a9508b;
        
    }
    
    .header-right {
        
        margin: 10px 10px 5px 30%;
        padding-top: 0px;
    }
    .header-right > a {
        
        margin-right: 20px;
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 15px;
        font-weight: lighter;
    }
   
   #about {
       color: #a9508b;
   }
   #home:hover {
       font-weight: bolder;
   }
   #about:hover {
       color: white;
   }
   #services:hover {
       font-weight: bolder;
   
   }
   
   
   .register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #35424a;
    color: white; 
    margin: 0;
    padding: 20px 0px 20px 50px;
    
}

.register-left {
    display: block;
    margin: 0px;
    width: 350px;
    font-size: 20px;
    
    
}

.register-right {
    display: flex;
    flex-wrap: wrap;
    
}

#email {
    height: 35px;
    width: 220%;
    margin-right: 100px;
    padding-left: 15px;

}

#subscribe {
    height: 35px;
    width: 90px;
    background-color: #a9508b;
    border: 0px solid #a9508b;
    

}

   .explain {
       margin-right: 20px;
   }
   footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15%;

}

#copyright {
    margin-top:30px;
    width: 400px;
}

#cw-logo {
    width: 200px;
    height: 40px;
    margin-right: 100px;
}

}